<p><%= link_to 'Create a New Session', new_period_path %></p>

<h1>Sessions</h1>


<div class="well">
  <%= form_for_filterrific @filterrific do |f| %>
    <div class="row">
      <div class="col-md-1">
        <div class="form-group chardin_box" data-position='top'>
          <label> Status </label>
          <%= f.select :with_different_status,
                   @filterrific.select_options[:with_different_status],
                   { include_blank: '- Any -' },
                   { class: 'form-control' }
          %>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group chardin_box" data-position='top'>               
          <label> Group Name </label>
          <%= f.select :with_different_group,
                   @filterrific.select_options[:with_different_group],
                   { include_blank: '- Any -' },
                   { class: 'form-control' }
          %>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group chardin_box" data-position='top'>               
          <label> Group Type </label>
          <%= f.select :with_different_grouping,
                     @filterrific.select_options[:with_different_grouping],
                     { include_blank: '- Any -' }, 
                     { class: 'form-control' }     
          %>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group chardin_box" data-position='top'>               
          <label> Sort By </label>
          <%= f.select :sorted_by,
                     @filterrific.select_options[:sorted_by],
                     { include_blank: '- Any -' }, 
                     { class: 'form-control' }     
          %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group chardin_box" data-position='top'>               
          <label> From </label>
          <%= f.text_field :with_start_date,
                     { class: 'form-control js-datepicker' } 
          %>
        </div>
      </div>      

      <div class="col-md-2">
        <div class="form-group chardin_box" data-position='top'>               
          <label> Until </label>
          <%= f.text_field :with_end_date,
                     { class: 'form-control js-datepicker' } 
          %>
        </div>
      </div>
    </div>
      <%= hidden_field_tag :search, params[:search] %>
  <% end %>
</div>
<br>

<div id="results">
  <%= render partial: 'admin/periods/list', locals: { :periods => @periods } %>
</div>

<script type="text/javascript">
  $('.js-datepicker').datepicker();
</script>